<div class="container  pt-5">
  <mat-button-toggle-group class="offset-2">
    <mat-button-toggle  (click)="goToLineChart()"> Line chart</mat-button-toggle>
    <mat-button-toggle  (click)="goToBarChart()"> Bar chart</mat-button-toggle>
    <mat-button-toggle  (click)="goToRadarChart()"> Radar chart</mat-button-toggle>
    <mat-button-toggle  (click)="goToDoughnutChart()"> Doughnut chart</mat-button-toggle>
    <mat-button-toggle  (click)="goToPieChart()"> Pie chart</mat-button-toggle>
    <mat-button-toggle  (click)="goToBubbleChart()"> Bubble chart</mat-button-toggle>
    <mat-button-toggle  (click)="goToUploadImage()">Upload Image</mat-button-toggle>
  </mat-button-toggle-group>

</div>
